@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
}


.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}


.brand {
    margin-top: -7px;
}



.brand span {
 color: aqua;
}


.Menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}



.Menu li {
list-style: none;
}



.Menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}




.Menu .active {
    color: aqua;
}



.Menu a:hover {
    background-color: aqua;
    color: #191c32;
    transition: ease-in .4s;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}



h1 {
    font-size: 4em;
}


.first-name, .last-name {
    font-weight: bold;
}



.last-name {
    margin-left: 2px;
}



span {
    color: aqua;
}


.download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none; 
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}



.download-cv:hover {
    background-color: #fff;
    box-shadow: none; 
}



.main img {
    width: 350px;
    border: 7px  solid aqua;
    height: 520px;
}



.about {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
}


.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #191c32;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
}


.about p {
    margin-bottom: 1em;
}





.portfolio {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
    padding: 20px;
}

.portfolio-headings {
    display: flex;
    align-items: center;
}

.portfolio-headings h2 {
    font-size: 2rem;
    margin-right: 10px;
}

.divider {
    flex: 1;
    height: 2px;
    background-color: aqua;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: calc(50% - 20px);
    max-width: 300px; /* Tamaño máximo del card */
    background-color: #2b3058;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.card__title {
    display: flex;
    align-items: center;
}

.card__title h2 {
    font-size: 1.5rem;
    text-align: center;
}

.project-description {
    margin-top: 10px;
    text-align: center;
}

.card__img img {
    width: 100%;
    max-height: 150px; 
    object-fit: cover;
}

.card__github {
    display: flex;
    justify-content: center; /* Centrar horizontalmente el logo de GitHub */
    margin-top: 10px;
}

.github-logo {
    width: 40px; /* Tamaño del logo de GitHub */
    height: 40px; /* Tamaño del logo de GitHub */
    background-color: #191c32;
    padding: 5px;
    border-radius: 50%;
}

 