@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif; 
}

/* HEADER */
.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #191c32;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.brand span {
 color: aqua;
}

.Menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.Menu li {
    list-style: none;
}

.Menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.Menu .active {
    color: aqua;
}

.Menu a:hover {
    background-color: aqua;
    color: #191c32;
    transition: ease-in .4s;
}

/* MAIN */
.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

h1 {
    font-size: 4em;
}

.first-name, .last-name {
    font-weight: bold;
}

.last-name {
    margin-left: 2px;
}

span {
    color: aqua;
}

.download-cv {
    padding: 10px 20px;
    background-color: aqua;
    border: none; 
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, .69);
}

.download-cv:hover {
    background-color: #fff;
    box-shadow: none; 
}

.main img {
    width: 350px;
    border: 7px solid aqua;
    height: 520px;
}

/* ABOUT */
.about {
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100vw;
    align-items: center;
    background-color: #fff; /* fondo blanco */
    color: #000;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #191c32;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}

/* PORTFOLIO */
.portfolio {
    width: 100vw;
    background-color: #191c32;
    color: #fff;
    padding: 20px;
}

.portfolio-headings {
    width: 100vw;
    padding: 5em;
}

.portfolio-headings h2 {
    font-size: 2em;
}

.portfolio .container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 400px; 
    background-color: #2b3058;
    padding: 20px;
    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.card__img img {
    width: 100%;
    max-height: 200px; 
    object-fit: cover;
}

.card__title {
    padding: 20px;
}

.project-description {
    text-align: justify;
}

.project-links {
    display: flex;
    justify-content: space-evenly;
}

.project-links a {
    background-color: #2b3058;
    text-decoration: none;
}

.project-links img {
    width: 25px; 
    height: 25px; 
    margin: 1em; 
}

/* CONTACT */
.contact-section {
    width: 100vw;
    background-color: #191c32;
    color: #fff;
    padding: 20px;
}

.contact-headings h2 {
    font-size: 2em;
    margin-left: 5em; /* alinea con My Portfolio */
}

.container-contact {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 3em;
    flex-wrap: wrap;
}

.contact-photo {
    width: 350px;
    height: auto;
    border: 5px solid aqua;
    border-radius: 10px;
}

.contact-links {
    display: flex;
    flex-direction: row; /* horizontal */
    gap: 25px; /* separación entre íconos */
    align-items: center;
}

.contact-links img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
    cursor: pointer;
}

.contact-links img:hover {
    transform: scale(1.2);
}
